pip install Flask==3.0.3
pip install Flask-SQLAlchemy==3.1.1
pip install Flask-Migrate==4.0.5
pip install Flask-Mail==0.9.1
pip install Flask-Login==0.6.3
pip install Werkzeug==3.0.3
pip install itsdangerous==2.2.0
pip install Jinja2==3.1.4
pip install SQLAlchemy==2.0.31
pip install email-validator==2.2.0
pip install mysqlclient==2.2.4
pip install python-dotenv==1.0.1
